name: actions workflow

on:
  push:
    branches:
      - master
      - "!develop"
      - "feature/*/*"
      - "feature/**"
    tags-ignore:
      - v1
    paths-ignore:
      - "docs/**"
  pull_request:
    branches-ignore:
      - develop
    # types:
  #     - closed
  #     - assigned
  #     - opened
  #     - reopened
  # schedule:
  #   - cron: "0 0 * * *"
  # repository_dispatch:
  #   types:
  #     - build

jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: payloads
        run: echo "${{ github.event.client_payload.env }}"
      - name: list files
        run: |
          pwd
          ls -a
      - name: checkout
        uses: actions/checkout@v2
      - name: list files
        run: |
          pwd
          ls -a
      - name: simple javasccript action
        id: greet
        uses: actions/hello-world-javascript-action@v1
        with:
          who-to-greet: lizard
      - name: log greeting time
        run: echo "${{ steps.greet.outputs.time }}"
