name: actions workflow

on: [push]

jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: list files
        run: |
          pwd
          ls
      - name: simple javasccript action
        id: greet
        uses: actions/hello-world-javascript-action@v1
        with:
          who-to-greet: lizard
      - name: log greeting time
        run: echo "${{ steps.greet.outputs.time }}"
