name: actions workflow

on:
  push:
  pull_request:
    types:
      - closed
      - assigned
      - opened
      - reopened

jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: list files
        run: |
          pwd
          ls -a
      - name: checkout
        uses: actions/checkout@v2
      - name: list files
        run: |
          pwd
          ls -a
      - name: simple javasccript action
        id: greet
        uses: actions/hello-world-javascript-action@v1
        with:
          who-to-greet: lizard
      - name: log greeting time
        run: echo "${{ steps.greet.outputs.time }}"
